<div id="mySidenav" class="sidenav">
    <img class="logo" src="./img/logo_blanco.png" alt="">
    <div class="search-panel">
        <input type="text" class="search-in-panel" placeholder="Github Username" [(ngModel)]="username" name="username" (keyup.enter)="search()">
    </div>
    <div class="button-panel">
        <button type="button" class="filters" name="button" (click)="orderAZ()">A-Z</button>
        <button type="button" class="filters" name="button" (click)="orderZA()">Z-A</button>
    </div>

    <div class="favorites-box">
        <span>Favorites Profiles <img src="./img/corazon.png" alt="heart"></span>

        <img class="cat" src="./img/gatito_triste.png" alt="" *ngIf="!favorites.length>0">
        <p *ngIf="!favorites.length>0">Why so lonely?</p>
        <p *ngIf="!favorites.length>0">Add somehone to your favorites!</p>

        <ul class="favorite-list optiscroll" id="favorite-scroll">

            <li *ngFor='let user of favorites'>
                <img class="avatar" src="{{user.avatarUrl}}"><span>{{user.login}}</span><img src="./img/trash.png" (click)="deleteItem(user.login)" *ngIf="delete" class="star" alt="trash"><img class="star" *ngIf="!delete" src="./img/favorito2.png">
            </li>

        </ul>
    </div>
    <button *ngIf="favorites.length>0" class="btn-red" type="button" name="button" (click)="deleteFavorites()">Delete Favorite</button>
</div>

<div id="home">
    <div class="search-box" *ngIf="!users.length>0">
        <img *ngIf="!loading" src="img/logo.png" alt="logo">
        <input *ngIf="!loading" type="text" class="search" placeholder="Github Username" [(ngModel)]="username" name="username" (keyup.enter)="search()">
        <p *ngIf="!loading">Start your search!</p>
    </div>
    <img src="./img/spiner.svg" class="spiner" alt="spiner" *ngIf="loading">

    <div class="panel-right">
        <div *ngIf="users.length>0 && !loading" class="wrapper-cards">
            <div *ngFor='let user of users'>
                <div class="panel-user">
                    <div class="left">
                        <img class="img-thumbnail github-avatar" src="{{user.avatarUrl}}">
                        <p>Followers</p>
                        <p class="follow">{{user.followers}}</p>
                        <p>Following</p>
                        <p class="following">{{user.following}}</p>

                    </div>

                    <div class="right">
                        <button [ngClass]="{'staron': user.favorite, 'staroff':!user.favorite}" (click)="addFavorites(user.login)"></button>
                        <h1>{{user.login}}</h1>
                        <p>{{user.name}}</p>
                        <p>{{user.date | date}}</p>
                        <button class="btn-ok" type="button" name="button" (click)="modal.open();open(user.login)">View More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<modal #modal>
    <div class="moda-content" *ngIf="user && repos">
        <div class="left">
            <div class="head">
                <img class="img-thumbnail github-avatar" src="{{user.avatarUrl}}">
                <h1 class="user">{{user.login}}<button class="star" (click)="addFavorites(user.login)"></button></h1>
            </div>
            <div class="body">
                <p>{{user.name}}</p>
                <p class="location">{{user.location}}</p>
                <p class="date">{{user.date | date}}</p>
                <a href="mailto:{{user.email}}">{{user.email}}</a>
            </div>

            <div class="follow-left">
                <p>Followers</p>
                <p class="follow">{{user.followers}}</p>
            </div>
            <div class="following-right">
                <p>Following</p>
                <p class="following">{{user.following}}</p>
            </div>


        </div>
        <div class="right">
            <button type="button" class="close" name="button" (click)="modal.close()"></button>
            <h1>Top Five Repos</h1>
            <div class="time-line">
                <ul>
                    <li *ngFor="let repo of repos">
                        <i></i>
                        <span class="name">{{repo.name}}</span>
                        <span class="description">{{repo.description}}</span>
                        <span class="fork"><img src="./img/fork.png" alt="fork">{{repo.forks}}
                        <a class="link" href="{{repo.html_url}}">Go to<img src="./img/link.png" alt="fork"></a></span>

                    </li>
                </ul>
            </div>
            <button class="btn-ok" type="button" name="button" (click)="openProfile(user.login)">Go to Github Profile</button>
        </div>
    </div>
</modal>